<a href="https://colab.research.google.com/github/vimalkantht/BookApp/blob/master/Python_practice_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
## 1. odd or even
number1 = int(input('enter a number'))
if number1 % 2 == 0 :
  print('Even')
else:
  print('odd')

enter a number2
Even

In [4]:
## 2. avg of set of int
count  =  int(input('enter count of nos'))
sum = 0
i = 0

for i in range(count):
  x = int(input('enter no'))
  sum = sum + x
avg = sum/count
print('average',avg)

enter count of nos5
enter no1
enter no2
enter no3
enter no4
enter no5
average 3.0

In [5]:
## 3. product of real numbers
count = int(input('enter count of nos'))
product = 1
for i in range (count):
  y = int(input('enter real nos'))
  product = product * y
print('product',product)

enter count of nos5
enter real nos-1
enter real nos5
enter real nos3
enter real nos-6
enter real nos2
product 180

In [19]:
## 4. given int is multiple of 5
int1 = int(input('Enter the integer'))
if int1 % 5 == 0:
  print(int1,' is mul of 5')
else:
  print(int1,'is not a mul of 5')

Enter the integer1
1 is not a mul of 5

In [20]:
## 5.gn no is mul of 5 and 7
int2 = int(input('enter a num'))
if ((int2 %5 == 0) & (int2 %7==0)):
  print(int2,' is a mul of 5 and 7')
else:
  print(int2,' not mulof 5 and 7')

enter a num35
35  is a mul of 5 and 7

In [26]:
## 6. avg of 10 nums in while
sum = 0
count = 0

while (count<10):
  x = int(input('enter a number'))
  sum = sum + x
  count = count+1

print('avg of 10 num is', sum/10)

enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
enter a number1
avg of 10 num is 1.0

In [39]:
## 7. print int in reverse 
int3 = int(input('enter an integer'))
rev = 0
while (int3!=0):
  dig = int(int3) % 10 
  rev = (rev*10)+ dig
  int3 = int3//10
print(rev)

enter an integer21314
41312

In [42]:
## 8. PRINT SUM OF THE DIGITS
int4 = int(input('enter a number'))
val = 0
while(int4!=0):
  dig = int4 % 10
  val = val + dig
  int4 = int4//10

print(val)

enter a number12345
15

In [43]:
## 9. print all the mul of 3 bet 10 to 50

for i in range(10,50):
  if i % 3 == 0:
    print(i)

12
15
18
21
24
27
30
33
36
39
42
45
48

In [52]:
## 10. print the nums bet 100 to 200 whose sum dig is even


for i in range(100,150):
  sum = 0
  num = i
  while(num!=0):
    dig = num % 10
    sum = sum + dig
    num = num // 10
  if sum % 2 == 0:
    print(i)

101
103
105
107
109
110
112
114
116
118
121
123
125
127
129
130
132
134
136
138
141
143
145
147
149

In [60]:
## 11. gvn num is prime or not

num = int(input('enter a num'))
isprime = 0
for i in range(2,num):
  if num % i == 0:
    isprime = 1
    break

if isprime == 1:
  print('not a prime')
else:
  print('prime')

enter a num11
prime

In [73]:
## 12. print prime num from 1 to n
prm =0
num = int(input('Enter count'))

for n in range(2,num):
  for i in range(2,n):
    if n % i ==0:
      break
  else:
      print(n)

Enter count19
2
3
5
7
11
13
17

In [4]:
## 13. FIND ODD NUMBERS IN AN ARRAY 
a = [10,32,43,54,65,63,99]

for i in range(len(a)):
  if a[i] % 2 != 0:
    print(a[i])

43
65
63
99

In [7]:
## 14. find largest number in the list
a = [10,32,43,106,65,63,99]
lar = 0
for i in range(len(a)):
  if a[i] > lar:
    lar = a[i]
  
print(lar)

106

In [10]:
## 15. insert a number at any psoition in a list
a = [10,32,43,54,65,63,99]

num1 = int(input('enter a number'))
pos= int(input('enter its position'))

a[pos] = num1
print(a)

enter a number7
enter its position2
[10, 32, 7, 54, 65, 63, 99]

In [11]:
num1 = int(input('enter a number'))
pos= int(input('enter its position'))

a.insert(pos,num1)
print(a)

enter a number2
enter its position1
[10, 2, 32, 7, 54, 65, 63, 99]

In [16]:
## 16. delete a number from the list
b = int(input('enter the no to be deleted'))

a.remove(b)
print(a)

enter the no to be deleted7
[10, 32, 54, 65, 63]

In [29]:
## 17. enter a strg to check its palindrome or not
st = input('enter a string')

ls = list(reversed(st))

s = ''
for e in ls:
  s += e 
print(s)

s[::-1]

enter a stringvimal
lamiv

'vimal'

In [30]:
## 18. print all the elements in the dict
phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com' ],
'Bob': [ '7994880000', 'bob@xyzmail.com' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com' ]
}

for k,v in phone_book.items():
  print(k , ':' , v)

John : ['8592970000', 'john@xyzmail.com']
Bob : ['7994880000', 'bob@xyzmail.com']
Tom : ['9749552647', 'tom@xyzmail.com']

In [37]:
## 19. sort using for loop

a = [10,32,43,54,65,63,99]

srt = []
while(a):
  min = a[0]
  for i in a:
    if i < min:
      min = i
  srt.append(min)
  a.remove(min)
  
print(srt)

[10, 32, 43, 54, 63, 65, 99]